<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserController</servlet-name>
        <servlet-class>controller.ListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetail</servlet-name>
        <servlet-class>controller.PostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>controller.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUserController</servlet-name>
        <servlet-class>controller.ProfileUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductController</servlet-name>
        <servlet-class>controller.ListProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSearch</servlet-name>
        <servlet-class>controller.BlogSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blog</servlet-name>
        <servlet-class>controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogdetail</servlet-name>
        <servlet-class>controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContact</servlet-name>
        <servlet-class>controller.CartContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>controller.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveImg</servlet-name>
        <servlet-class>controller.RetrieveImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdateController</servlet-name>
        <servlet-class>controller.CartUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInformationController</servlet-name>
        <servlet-class>controller.OrderInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusController</servlet-name>
        <servlet-class>controller.CusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusDetailController</servlet-name>
        <servlet-class>controller.CusDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackAdController</servlet-name>
        <servlet-class>controller.FeedbackAdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppliersController</servlet-name>
        <servlet-class>controller.SuppliersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetails</servlet-name>
        <servlet-class>controller.FeedbackDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierDetailController</servlet-name>
        <servlet-class>controller.SupplierDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderController</servlet-name>
        <servlet-class>controller.MyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>favouriteController</servlet-name>
        <servlet-class>controller.favouriteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColorController</servlet-name>
        <servlet-class>controller.ColorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingList</servlet-name>
        <servlet-class>controller.SettingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusOrderController</servlet-name>
        <servlet-class>controller.CusOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusFavouriteController</servlet-name>
        <servlet-class>controller.CusFavouriteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFavorite</servlet-name>
        <servlet-class>controller.DeleteFavorite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageController</servlet-name>
        <servlet-class>controller.MessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCompletion</servlet-name>
        <servlet-class>controller.CartCompletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostMan</servlet-name>
        <servlet-class>controller.PostMan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePost</servlet-name>
        <servlet-class>controller.ManagePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPost</servlet-name>
        <servlet-class>controller.EditPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierListController</servlet-name>
        <servlet-class>controller.SupplierListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetailController</servlet-name>
        <servlet-class>controller.SliderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderImgController</servlet-name>
        <servlet-class>controller.SliderImgController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>controller.Notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperController</servlet-name>
        <servlet-class>controller.ShipperController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperDetailController</servlet-name>
        <servlet-class>controller.ShipperDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrder</servlet-name>
        <servlet-class>controller.SearchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogControllerAD</servlet-name>
        <servlet-class>controller.BlogControllerAD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostEdit</servlet-name>
        <servlet-class>controller.PostEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierController</servlet-name>
        <servlet-class>controller.AddSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackUploadImage</servlet-name>
        <servlet-class>controller.FeedbackUploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserController</servlet-name>
        <url-pattern>/listUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetail</servlet-name>
        <url-pattern>/postDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUserController</servlet-name>
        <url-pattern>/ProfileUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductController</servlet-name>
        <url-pattern>/listProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSearch</servlet-name>
        <url-pattern>/BlogSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blog</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogdetail</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContact</servlet-name>
        <url-pattern>/CartContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/Blogdetai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveImg</servlet-name>
        <url-pattern>/RetrieveImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdateController</servlet-name>
        <url-pattern>/CartUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInformationController</servlet-name>
        <url-pattern>/OrderInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusController</servlet-name>
        <url-pattern>/admin/CusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusDetailController</servlet-name>
        <url-pattern>/admin/CusDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackAdController</servlet-name>
        <url-pattern>/admin/FeedbackAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppliersController</servlet-name>
        <url-pattern>/admin/SuppliersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetails</servlet-name>
        <url-pattern>/admin/FeedbackDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierDetailController</servlet-name>
        <url-pattern>/admin/SupplierDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderController</servlet-name>
        <url-pattern>/admin/MyOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/admin/OrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>favouriteController</servlet-name>
        <url-pattern>/favouriteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColorController</servlet-name>
        <url-pattern>/ColorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingList</servlet-name>
        <url-pattern>/SettingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusOrderController</servlet-name>
        <url-pattern>/CusOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusFavouriteController</servlet-name>
        <url-pattern>/CusFavouriteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFavorite</servlet-name>
        <url-pattern>/DeleteFavorite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageController</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCompletion</servlet-name>
        <url-pattern>/CartCompletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostMan</servlet-name>
        <url-pattern>/PostMan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePost</servlet-name>
        <url-pattern>/ManagePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPost</servlet-name>
        <url-pattern>/EditPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierListController</servlet-name>
        <url-pattern>/admin/SupplierListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetailController</servlet-name>
        <url-pattern>/admin/SliderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderImgController</servlet-name>
        <url-pattern>/admin/SliderImgController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperController</servlet-name>
        <url-pattern>/admin/ShipperController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperDetailController</servlet-name>
        <url-pattern>/admin/ShipperDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrder</servlet-name>
        <url-pattern>/SearchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogControllerAD</servlet-name>
        <url-pattern>/PostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/admin/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostEdit</servlet-name>
        <url-pattern>/PostEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierController</servlet-name>
        <url-pattern>/admin/AddSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackUploadImage</servlet-name>
        <url-pattern>/FeedbackUploadImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>