:focus{
    border-color: #000 !important;
    box-shadow: none !important;
}
/* ======================================= Card Detail ======================================= */

/* ------------- select all --------------------- */
.save-pass{
    display: flex;
    align-items: center;
    padding: 6px 0;
}
/* The container */
.save-pass-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.save-pass-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 10px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e0726c;
}

/* On mouse-over, add a grey background color */
.save-pass-container:hover input ~ .checkmark{
    background-color: #fbebea;
}

/* When the checkbox is checked, add a blue background */
.save-pass-container input:checked ~ .checkmark{
    background-color: #fbebea;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.save-pass-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.save-pass-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid #e0726c;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.order-items table thead{
    background: #d33b33;
    color: #ffffff;
}
.order-items table tr td:last-child{
    width: 140px;
}
/* ======================================= Card Contact ======================================= */
.title-top{
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}
.image{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.order-ls input,
.order-items input{
    padding: 0 8px;
    width: 80%;
    text-align: center;
}
table thead td{
    font-size: 18px;
    font-weight: 600;
}
.order-ls table tr td:nth-child(2){
    width: 80px;
}
.order-ls table tr td:last-child{
    width: 30px;
}

.remove-icon:hover{
    cursor: pointer;
    color: #f00;
}
.payment-ls .image{
    width: 50px;
}
.payment-ls .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.payment-ls ul{
    padding: 0;
}
.payment-ls ul li{
    position: relative;
    cursor: pointer;
    margin: 5px;
}
.payment-ls .mark-icon{
    color: #04aa6d;
    position: absolute;
    left: 40px;
    bottom: 20px;
    display: none;
}
.payment-ls .mark-icon.check{
    display: block;
}