ul, li{
    margin: 0 !important;
    padding: 0 !important;
}
.topbar{
    
    width: 100%;
    z-index: 2;
    padding: 10px 0;
    background-color: #f5f4fe;
    /* background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffcc66 0%, #ff6e40 100%) repeat scroll 0 0; */
}
.icon{
    color: #000;
}
/* ----------------------------------------------------------------- */
.notify-area {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.notify-area .page-title {
    font-size: 25px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-right: 70px;
}
.search-box {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    background: #fff;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
}
 .search-box input {
    background: initial;
    border: medium none;
    font-size: 16px;
    color: #000;
    width: 400px;
    padding: 10px 0;
}
/* ----------------------------------------------------------------- */
.user-head {
    display: flex;
    align-items: center;
    position: relative;
}
.user-head .notifications,
.user-head .messages{
    position: relative;
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
}
.user-head .admin {
    position: relative;
    text-align: center;
    padding: 0 20px;
}
.admin-avatar {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
}
.admin-avatar img {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 2px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.online {
    background: #a1d72c none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 100%;
    top: 13px;
    display: inline-block;
    height: 13px;
    position: absolute;
    right: -2px;
    transform: translateY(-65%);
    width: 13px;
}
.dropdown-ls{
    position: absolute;
    background-color: #fff;
    top: 60px;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* ----------------------------------------------------------------- */
.menu-bar{
    background-color: #f5f4fe;
    padding: 100px 30px 30px;
    overflow: hidden;
}
.menu-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    transition: all 0.25s ease-out 0s;
    top: 0;
    left: 0;
    z-index: 99 !important;
        

}
.menu{
    padding-right: 50px !important;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.menu-bar .menu{
    position: fixed;
    height: 100%;
    width: 350px;
}
.menu-links li a {
    display: flex;
    align-items: center;
    padding: 7px 20px;
    color: #000;
    font-size: 15px;
    transition: background .2s,color .2s;
    border-radius: 5px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.menu-links li a:hover{
    color: #ff6e40;
    transition: all 0.2s ease-out 0s;
}
.menu-bar ul li a.active {
    position: relative;
    background: rgba(255,110,64,.15);
    color: #ff6e40;
    border-left-color: #ff6e40;
    border-right-color: #ff6e40;
}
.menu-links li a .nav-link-icon,
.menu-links li a .badge.rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 12px;
    line-height: 18px;
    width: 35px;
    height: 35px;
    transition: all 0.25s ease-out 0s;
}
.menu-bar ul li a.active .nav-link-icon {
    background-color: #f5f4fe;
    font-size: 18px;
}
.menu-bar ul li a .badge.rounded-circle {
    width: 28px;
    height: 28px;
}
.menu-bar ul li a .sub-menu-arrow {
    margin-left: 12px;
    opacity: .6;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-bar ul li a+ul li a {
    padding-left: 67px;
}

/*message*/

/*message*/
#chat{
    display: inline-block;
}
.divMYS{
    display: flex;
    flex-direction: row-reverse;
}
.MYS_EMP{
    width: 2%;
}
.MYS,.MYR{
    padding: 8px 12px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;


    margin-bottom: 15px; 
    max-width: 77%; 
    text-align: left;
    width: fit-content;
}
 .MYS{
    background-color: #50b5ba;
    color: white;
    max-width: 77%; 

}

.MYR{
    margin-left: 2%;
    background-color: #e4e6eb;
    color: black;



}

.contentChat{
    height: 400px;
    
    overflow: auto;
    
}
.listCusMess ul{
    display: flex;
    
}
.listCusMess ul li div{
    margin: 15px 8px;
    padding: 8px 18px;
    color: #ff470d;
    background: rgba(255,110,64,.15);
    border-radius: 8px;
}
.search-box .search_user{
    border-color: gray;
}
.Customer_chat_group{
    width: 450px;
    background-color: white;
    
    padding: 8px 12px;
    border-radius: 15px;
    border: 1px solid #ff6e40;
    float: left;
}
.Customer_chat_group_left{
    
    float: left;
}
.Customer_chat_group_right{
    float: right;
    text-align: right;
}
/* --------------------------- Main -------------------------------------- */
.main{
    background-color: #f5f4fe;
    
}
.contentChat{
    padding-left: 10px;
}
.col-md-5,.col-md-1,.col-md-7{
    margin-right: 0 !important;
}
