/* ------ Popup -------------------------------------------------*/
.Popup {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0) ;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* display: none; */
    transition: 0.3s;
}

/* ------ Setting ------------------------ */
.Popup-body{
    position: absolute;
    background: #fff;
    width: 50vw;
    max-width: 600px;
    height: fit-content;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 16px;
    transform: translate(-50%, -50%);
}
.Pop-title{
    text-align: center;
}
.Pop-title h2{
    font-weight: 700;
}
.Set-pop{
    position: relative;
    overflow-y: auto;
    padding: 0 20px;
}
::-webkit-scrollbar { 
    display: none; 
}
.options{
    padding: 10px;
}
.options input{
    font-weight: 400;
    padding: 8px 20px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #ccc;
}
.options button{
    font-weight: 400;
    padding: 8px 20px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #ccc;
    color: #efefef;
    background-color: #000;
}
.options-divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #231f20;
    text-align: left;
}
.options-divider:before, .options-divider:after{
    content: "";
    display: block;
    flex: 1;
    height: 1px;
    background-color: #ebebeb;
}
.submit-btn{
    position: absolute;
    transform: translateX(10%);
    bottom: 0;
    width: 670px;
    padding: 30px;
}
.auth-actions {
    display: flex;
    justify-content: space-between;
}
.auth-actions a{
    color: #2f5acf;
    transition: .2s all;
    font-weight: 500;
}
.auth-actions a:hover{
    color: #000;
    transition: .2s all;
}
.alert{
    padding: 10px;
    border-radius: 8px;
    background-color: #ffe6e6;
    color: #f00;
    box-shadow: 0 0 1px 0 #ffe6e6;
}
/* ------------------------- Save Password ----------------------------- */
.showPass {
    position: relative;
    right: 10px;
    bottom: 28px;
    float: right;
    color: #ccc;
    cursor: pointer;
}
.save-pass{
    display: flex;
    align-items: center;
    padding: 6px 0;
}
/* The container */
.save-pass-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.save-pass-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 10px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.save-pass-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.save-pass-container input:checked ~ .checkmark {
    background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.save-pass-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.save-pass-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 7px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}