
.fa-solid{
    cursor: pointer;
}

.message2 .fa-facebook-messenger{
    font-size:  0!important;
}
.message, .messageAdmin {
    width: 380px;
    height: 500px;
    background-color: white;
    box-shadow: 0 0 5px #c4cacc;
    border-top-left-radius : 15px;
   border-top-right-radius : 15px;
    z-index: 0100;
    position: fixed;
    bottom: 0;
    right: 5%;
    transition: ease-in 0.3s;
    
}
.message2{
    width: 380px;
    height: 0 !important;
    box-shadow: 0 0 5px #c4cacc;
    border-top-left-radius : 15px;
   border-top-right-radius : 15px;
    z-index: 0100;
    position: fixed;
    bottom: 0;
    right: 5%;
    transition: ease-in 0.3s;
}

.message2, .message3{ 
    width: 50px;
    height: 0;  
    text-align: center;
    color: #50b5ba;
    font-size: 20px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0100;
}
.messageAdmin{
    overflow: auto;
    padding: 5px;
   
}
.messageAdmin .messcustomer{
    margin-bottom: 25px;
    cursor: pointer;
}
.messageAdmin .messcustomer:hover{
    background-color: #f1f1f1;
    border-radius: 10px;
}
.message .row{
    border-bottom: 1px solid #c4cacc;
    margin: 0;
    padding: 10px 0;
   
}
.message .row img{
    float: left;
    margin-right: 5px;
}
.message .row div:nth-child(2){
   font-size: 20px;
   color: #50b5ba;
}
.message .content_message{
    text-align: center;
    width: 380px;
    height: 380px;
    overflow: auto;
    
}

.divMYS{
    display: flex;
    flex-direction: row-reverse;
}
.MYS_EMP{
    width: 2%;
}
.MYS,.MYR{
    padding: 7px 20px 0px 20px;
    border-radius: 30px;
    margin-bottom: 15px; 
     max-width: 77%; 
     text-align: left;
     width: fit-content;
}
.message .content_message .MYS{
    background-color: #50b5ba;
    color: white;
    max-width: 77%; 
    
}

.message .content_message .MYR{
    margin-left: 2%;
    background-color: #e4e6eb;
    color: black;
    


}
.message .content_message .MYS p,.message .content_message .MYR p{
    margin-bottom: 10px;
}

.message .content_message h6{
    margin-bottom: 50px;
    margin-top: 10px;
    color: gray;
}
.message .menu_message{
    z-index: 2;
    position: fixed;
    bottom: 0;
    transition: ease-in 0.3s;
}
.message .menu_message input{
    border: none;
    width: 130%;
}
.messageAdmin .row .col-md-10{
   color: #0c7857;
}
.messageAdmin .row .col-md-2{
   font-size: 20px;
   margin-top: 10px;
}
.menu_message{
    height: 50px;
    width: inherit;
    position: relative;
    box-sizing:  border-box !important;
}
.menu_messenger_conponent{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   width: 100%;
   
  
}
.menu_messenger_conponent .send_button{
    margin-top: 10px;

   
  
}

.menu_messenger_conponent .send_button i{
    color: #50b5ba;
    font-size: 20px;
}
.send input{
    padding: 6px;
    border-radius: 30px;
    background-color: #e4e6eb;
    
    
}
