span.title {
    color: #BBB;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-align: center;
    display: block;
}

.basicBox {
  width: 120px;
  height: 40px;
  margin: 15px auto;
  color: #50b5ba;
  font-family: 'Open Sans', sans-serif;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.basicBox a{
    color: #50b5ba;
    font-size: 14px;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect{
  fill: none;
  stroke: #50b5ba;
  stroke-width: 2;
}

.basicBox:hover svg rect{
  stroke: #50b5ba;
}

/* Basic Box */
svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 78;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
/* ===================================================================== */
.message{
    width: 300px;
    height: 420px !important;
    background-color: white;
    z-index: 0100;
    position: fixed !important;
    bottom: 40px;
    right: 5%;
}
.card-body{
    overflow: auto;
}
/* width */
.card-body::-webkit-scrollbar {
    width: 5px;
}
   
/* Handle */
.card-body::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
.card-body::-webkit-scrollbar-thumb:hover {
    background: #50b5ba; 
}

/* --------------------------------------------------- */
.message .slogans{
    color: #808080;
    font-size: 16px;
    text-align: center;
}
.divMYS{
    display: flex;
    flex-direction: row-reverse;
}
.MYS_EMP{
    width: 2%;
}
.MYS,.MYR{
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 15px; 
    max-width: 77%; 
    text-align: left;
    width: fit-content;
}
.message .content_message .MYS{
    background-color: #50b5ba;
    color: white;
}

.message .content_message .MYR{
    margin-left: 2%;
    background-color: #e4e6eb;
    color: black;
}
/* --------------------------------------------------- */
.message .menu_message .send{
    padding-right: 0;
}
.message .menu_message input{
    width: 100%;
    border: 1px solid #50b5ba;
    outline: 0;
    padding: 5px 10px;
    border-radius: 20px;
}
.message .menu_message .send_button button{
    border: 0;
    outline: 0;
    background-color: inherit;
    color: #50b5ba;
}