
.fa-solid{
    cursor: pointer;
}
.message, .messageAdmin ,.message2{
    width: 380px;
    height: 500px;
    background-color: white;
    box-shadow: 0 0 5px #c4cacc;
    border-top-left-radius : 15px;
   border-top-right-radius : 15px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 5%;
    transition: ease-in 0.3s;
    
}
.message2, .message3{ 
    width: 50px;
    height: 0;  
    text-align: center;
    color: #0c7857;
    font-size: 20px;
    
}
.messageAdmin{
    overflow: auto;
    padding: 5px;
   
}
.messageAdmin .messcustomer{
    margin-bottom: 25px;
    cursor: pointer;
}
.messageAdmin .messcustomer:hover{
    background-color: #f1f1f1;
    border-radius: 10px;
}
.message .row{
    border-bottom: 1px solid #c4cacc;
    margin: 0;
    padding: 10px 0;
   
}
.message .row img{
    float: left;
    margin-right: 5px;
}
.message .row div:nth-child(2){
   font-size: 20px;
   color: #0c7857;
}
.message .content_message{
    text-align: center;
    width: 380px;
    height: 400px;
    overflow: auto;
    
}

.divMYS{
    display: flex;
    flex-direction: row-reverse;
}
.MYS_EMP{
    width: 2%;
}
.message .content_message .MYS{
   
    padding: 7px 5px 1px 5px;
    border-radius: 10px;
    background-color: #04bd7c;
    margin-bottom: 20px; 
    color: white;
    width: fit-content;
    max-width: 77%; 
    text-align: left;
}

.message .content_message .MYR{
    margin-left: 2%;
    padding: 7px 5px 1px 5px;
    border-radius: 10px;
    background-color: #c0c4c1;
    color: black;
    margin-bottom: 20px; 
    max-width: 77%; 
    text-align: left;
    width: fit-content;
    


}


.message .content_message h6{
    margin-bottom: 50px;
    margin-top: 10px;
    color: gray;
}
.message .menu_message{
    z-index: 2;
    position: fixed;
    bottom: 0;
    transition: ease-in 0.3s;
}
.message .menu_message input{
    border: none;
    width: 76%;
}
.messageAdmin .row .col-md-10{
   color: #0c7857;
}
.messageAdmin .row .col-md-2{
   font-size: 20px;
   margin-top: 10px;
}
