@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #666666;
    font-size: 15px;
    font-family: 'Quattrocento Sans', sans-serif;
    line-height: 1.80857;
    overflow: auto;
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0 
}
h1 {
    font-size: 24px 
}
h2 {
    font-size: 22px 
}
h3 {
    font-size: 18px 
}
h4 {
    font-size: 16px 
}
h5 {
    font-size: 14px 
}
h6 {
    font-size: 13px 
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1 
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    opacity: .8 
}
a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}
a, .btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}
ul, li, ol{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
button:focus{
    outline: none;
    box-shadow: none;
}
:focus {
    outline: 0;
}
p{
    margin: 0px;
}
/*----------------------------- LOADER -------------------------------------------------*/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    width: 32px;
    height: 32px;
    line-height: 30px;
    background: #d33b33;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    transition: opacity 0.2s ease-out;
}
/*------------------------------------ HEADER ----------------------------------------------*/
#header{
    position: fixed;
    top: 37px;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}
.main-top{
    text-align: center;
    background: #010101;
    padding: 7px 0px;
}
.custom-select-box{
    float: right;
    margin-left: 20px;
}
.custom-select-box button{
    padding: 0 6px;
    font-size: 14px;
    background: #d33b33;
    color: #fff;
    border: none;
    border-radius: 0.375rem;
}
.offer-box {
    color: #FFFFFF;
    font-size: 13px;
    padding: 0 15px;
    font-family: 'Montserrat', sans-serif;
}
.offer-box li {
    font-weight: 600;
}
.offer-box li i{
    margin-right: 10px;
    color: #d33b33;
    font-size: 20px;
}

/* ============================================================================= */
.navbar-header, .account-header ul{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-header, .account-header ul li{
    position: relative;
}
.badge-num{
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    line-height: 18px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: -4px;
    width: 19px;
    box-shadow: 2px 3px 8px rgb(0 0 0 / 15%);
    background: #f00
}
.search a{
    color: #d33b33;
}
.attr-nav > ul > li > a:hover{
    color: #d33b33;
}
nav.navbar.bootsnav ul.nav > li > a{
    margin: 0px;
}
nav.navbar .navbar-brand img.logo{
    width: 160px;
}
/* Navbar Adjusment =========================== */
/* Navbar Atribute ------*/
.attr-nav > ul > li > a{
    padding: 28px 15px;
}
ul.cart-list > li.total > .btn{
    border-bottom: solid 1px #cfcfcf !important;
    color: #010101 ;
    padding: 10px 15px;
    border: none;
    font-weight: 700;
    color: #ffffff;
}

nav.navbar.bootsnav ul.nav > li > a{
    position: relative;
    font-weight: 700;
    font-size: 16px;
    color: #010101;
    padding: 0 20px;
}
nav.navbar.bootsnav ul.nav li.active > a{
    color: #d33b33;
}
nav.navbar.bootsnav ul.nav li.active > a:hover{
    color: #d33b33;
}
nav.navbar.bootsnav ul.nav li > a:hover{
    color: #d33b33;
}
nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover{
    color: #d33b33;
}
.arrow::before{
    font-family: 'FontAwesome';
    content: "\f0d7";
    margin-left: 5px;
    margin-top: 2px;
    border: none;
    display: inline-block;
    vertical-align: inherit;
    position: absolute;
    right: 10px;
    top: 28px;
}
.dropdown-toggle::after{
    display: none;
}
.hvr-hover{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #d33b33;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 0;
    box-shadow: none;
}
.hvr-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #010101;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-hover:hover::after{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    color: #ffffff;
}
.main-header.fixed-menu {
    position: fixed;
    visibility: hidden;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 0px 0px;
    background: #ffffff;
    z-index: 0;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    -ms-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -op-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -op-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.main-header.fixed-menu {
    padding: 0px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.12);
    border-radius: 0;
}
.top-search{
    display: none;
    width: 100%;
    margin-left: 50px;
}
.top-search .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.close-search:hover{
    cursor: pointer;
    background: #d33b33;
}

/* --------------------------------------------------------------------------------- */
.why-text{
    padding: 15px;
}
.why-text a{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.why-text span{
    color: #ffd55d;
    font-weight: 700;
    font-size: 20px;
}
.why-text .btn{
    background-color: #d33b33;
    color: #fff;
    margin-top: 1rem;
    transition: all 0.2s ease-out;
}
/* --------------------------------------------------------------------------------- */
.all-title-box {
    position: relative;
    padding: 20px 0px;
}
.all-title-box .breadcrumb {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #d33b33;
}
.all-title-box .breadcrumb li {
    display: inline-block;
    color: #010101;
    font-size: 16px;
    font-weight: 600;
}
.all-title-box .breadcrumb li a{
    color: #010101;
}
.all-title-box .breadcrumb li a:hover{
    color: #d33b33;
}
/*------------------------------------------ FOOTER -------------------------------------------*/
.footer-main{
    padding: 70px 0px;
    background: #202020;
}
.footer-widget h4 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
}
.footer-widget h4::before {
    border-bottom: 3px solid #d33b33;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}
.footer-widget p {
    color: #cccccc;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 20px;
}
.footer-widget ul{
    padding: 0;
    display: inline-block;
}
.footer-widget ul li {
    float: left;
    margin-right: 5px;
}
.footer-widget ul li a {
    color: #ffffff;
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid #ffffff;
    text-align: center;
    line-height: 32px;
}
.footer-widget ul li a:hover {
    color: #d33b33;
    border-color: #d33b33;
}
.footer-link h4{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
}
.footer-link h4::before {
    border-bottom: 3px solid #d33b33;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}
.footer-link ul li {
    margin-right: 5px;
}
.footer-link ul li a {
    color: #ffffff;
    text-align: left;
    display: block;
    line-height: 32px;
    position: relative;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.footer-link ul li a:hover::before {
    left: 5px;
}
.footer-link ul li a:hover {
    cursor: pointer;
    color: #d33b33;
    border-left: 2px solid #d33b33;
    padding-left: 20px;
}
.footer-link-contact h4{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
}
.footer-link-contact h4::before {
    border-bottom: 3px solid #d33b33;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}
.footer-link-contact ul li{
    margin-bottom: 12px;
}
.footer-link-contact ul li i{
    position: absolute;
    left: 0;
    top: 5px;
    padding-right: 6px;
}
.footer-link-contact ul li p{
    padding-left: 25px;
    color: #cccccc;
    position: relative;
}
.footer-link-contact ul li p{
    font-size: 16px;
    color: #cccccc;
    font-weight: 300;
    padding-right: 16px;
    line-height: 24px;
}
.footer-link-contact ul li p a{
    color: #cccccc;
}
.footer-link-contact ul li p a:hover{
    color: #d33b33;
}
/*---------------------------------- Copyright ------------------------------------------*/
.footer-copyright{
    background: #2c2c2c;
    padding: 20px 0px;
    position: relative;
}
.footer-copyright p {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.footer-copyright p a{
    color: #ffffff;
}
.footer-copyright p a:hover{
    color: #d33b33;
}
/* ----------------------------------------------------------------- */